<div class="container">
<div class="jumbotron text-center bg-light">
    <img class="logo" src="/img/logo_transparent.png"/>
    <h1 class="display">{{title}}</h1>
    <p class="lead">You can add your software ideas from here</p>
    <p class="lead">
    <a href="/ideas/add" class="btn btn-success btn-lg">Add Idea</a>
    </p>
</div>
</div>