
<div class="card card-body">
    <h1 class="text-center"><img class="logo1" src="/img/logo_transparent.png"/></h1>
    <form action="/ideas" method="post">
        <div class="from-group mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="from-group mb-3">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details" required></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>